@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 248, 250, 252;
  --background-end-rgb: 248, 250, 252;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #F8FAFC;
  font-family: var(--font-inter), sans-serif;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}